<div class="blog-header">
    <h1 class="blog-secondary-title">组件</h1>
</div>
<div class="container">
    <uib-tabset>
        <!--AlertTab-->
        <uib-tab select="tabSelected()">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-bell"></i> Alert
            </uib-tab-heading>
            <br/>
            <a href="javascript:;">数量：<span class="badge">{{alertCount}}</span></a>
            <button class="btn btn-primary" type="button">
                数量：<span class="badge">{{alertCount}}</span>
            </button>
            <br>
            <br>
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <button type="button" class='btn btn-default' ng-click="addAlert($index)">Add Alert</button>
        </uib-tab>
        <!--AlertTab-->
        <uib-tab heading="Popover" active="true">
            <br>
            <div class="panel panel-info" ng-controller="DataPickerCtrl">
                <div class="panel-heading">DatePicker</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <span class="label label-info" ng-bind="dt"></span><br>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Popover</div>
                <div class="panel-body">
                    <div>
                        <button uib-popover="飞雪连天射白鹿" popover-trigger="mouseenter" type="button" class="btn btn-default">飞</button>
                        &nbsp;&nbsp;&nbsp;
                        <button uib-popover="笑书神侠倚碧鸳" popover-trigger="mouseenter" type="button" class="btn btn-default">笑</button>
                    </div>
                    <br>
                    <div>
                        <button popover-placement="left" uib-popover="欧阳锋" type="button" class="btn btn-default">西毒</button>
                        <button popover-placement="bottom" uib-popover="段智兴" type="button" class="btn btn-default">南帝</button>
                        <button popover-placement="top" uib-popover="洪七公" type="button" class="btn btn-default">北丐</button>
                        <button popover-placement="right" uib-popover="黄药师" type="button" class="btn btn-default">东邪</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Tooltip</div>
                <div class="panel-body">
                    <div>
                        <a href="javascript:;" uib-tooltip="原名熊耀华">古龙</a>，籍贯江西，汉族江右民系。<a href="javascript:;" tooltip-placement="left" uib-tooltip="戊寅年">1938年</a><a href="javascript:;" tooltip-placement="right" uib-tooltip="双子座">6月7日</a>生于香港。
                    </div>
                </div>
            </div>
            <div class="panel panel-info" ng-controller="TypeaheadCtrl">
                <div class="panel-heading">Typeahead</div>
                <div class="panel-body">
                    <div>
                        <pre>Model: {{asyncSelected | json}}</pre>
                        <!-- <input type="text" ng-model="asyncSelected" placeholder="请输入城市名" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"> -->
                        <input type="text" ng-model="asyncSelected" placeholder="请输入城市名，显示当前天气" uib-typeahead="weather for weather in getWeather($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <!--Modal&Table-->
        <uib-tab heading="Modal & Table & Pagination">
            <div ng-controller="ModalTableCtrl">
                <!--表格-->
                <table class="table table-hover">
                    <tbody>
                        <th>#</th>
                        <th>学员姓名</th>
                        <th>学员性别</th>
                        <th>出生日期</th>
                        <th>联系方式</th>
                        <th></th>
                        <tr ng-repeat="item in dataSource">
                            <td ng-bind="item.Stu_Id"></td>
                            <td ng-bind="item.Stu_Name"></td>
                            <td ng-bind="item.Stu_Sex"></td>
                            <td ng-bind="item.Stu_Bir"></td>
                            <td ng-bind="item.Stu_Phone"></td>
                            <td>
                                <a class="btn btn-default" data-toggle="modal" ng-click="open(item)">编辑</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--表格-->
                <!--分页控件-->
                <div style="margin:0 auto;text-align: center;">
                    <uib-pagination items-per-page="pageSize" total-items="totalCount" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
                </div>
                <!--分页控件-->
            </div>
            <!--下方脚本是Modal弹窗中显示的内容-->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">编辑数据</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="FirstNameTextBox{{$index+1}}">学员姓名</label>
                        <input type="text" class="form-control" id="FirstNameTextBox{{$index+1}}" ng-model="data.Stu_Name">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="LastNameTextBox{{$index+1}}">学员性别</label>
                        <input type="text" class="form-control" id="LastNameTextBox{{$index+1}}" ng-model="data.Stu_Sex">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="UserNameTextBox{{$index+1}}">出生日期</label>
                        <input type="text" class="form-control" id="UserNameTextBox{{$index+1}}" ng-model="data.Stu_Bir">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="UserNameTextBox{{$index+1}}">联系方式</label>
                        <input type="text" class="form-control" id="UserNameTextBox{{$index+1}}" ng-model="data.Stu_Phone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </uib-tab>
        <!--Modal&Table-->
    </uib-tabset>
</div>
