<div class="blog-header">
    <h1 class="blog-secondary-title">表格</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
</div>

<div class="container">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">编辑数据</h3>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="FirstNameTextBox{{$index+1}}">FirstName</label>
                <input type="text" class="form-control" id="FirstNameTextBox{{$index+1}}" ng-model="data.FirstName">
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="LastNameTextBox{{$index+1}}">LastName</label>
                <input type="text" class="form-control" id="LastNameTextBox{{$index+1}}" ng-model="data.LastName">
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="UserNameTextBox{{$index+1}}">UserName</label>
                <input type="text" class="form-control" id="UserNameTextBox{{$index+1}}" ng-model="data.UserName">
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    <!-- <a href="javascript:;" ng-click="showModal()" class="btn btn-default">测试按钮</a> -->
    <table class="table table-hover">
        <tbody>
            <th>#</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th></th>
            <tr ng-repeat="item in dataSource">
                <td ng-bind="$index+1"></td>
                <td ng-bind="item.FirstName"></td>
                <td ng-bind="item.LastName"></td>
                <td ng-bind="item.UserName"></td>
                <td>
                    <a class="btn btn-default" data-toggle="modal" ng-click="open(item)">编辑</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
